*{margin: 0; padding: 0;}
html, body {margin: 0; padding: 0;
}

#main{width: 1024px; height: 100%;margin: 0; padding: 0;}
#header{ background: #ddd; color: #000; height:200px; width:100%; float: left; }
#header img {width: 1024px; height: 200px;}
#menu {float: left;
background: #000; color:#fff; height: 40px; width: 100%; line-height:40px;}
#menu ul{list-style-type: none;}
#menu ul li {background: #000; float: left; width: 200px; text-align: center; border-right: solid #fff;}
#menu ul li:hover {background: #777;}
#menu ul li a {color: #fff;}
#menu ul ul{list-style-type: none;} 
#menu ul li ul li{float: left;}
#menu ul li:hover ul{display: block; float: left;}
#content{background: #ff0000; color: #000; height: 600px; width: 70%; float:left;}
#content img{ height: 230px; width: 240px; border: 5px solid #fff; float: left; }
#content h1{text-align:center;}
#sidebar1{ background: #fff000; color: #000;height: 300px; width: 30%; float: left; }
#sidebar2{ background: #dd0000; color: #000;height: 300px; width: 30%; float: left; }
#footer{background: #9075F4; color: #000; height: 100px; width: 100%; float: left;}